@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

section {
  margin-bottom: 256px;
  padding: 0 32px;
}

nav {
  display: flex;
  padding-top: 32px;
}

h4 {
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
}

h5 {
  font-size: 48px;
  color: #243e63;
  line-height: 1.25;
  letter-spacing: 1.2px;
  margin: 16px 0;
  font-weight: 900;
}

.text--color {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
}

a {
  display: inline;
  text-decoration: none;
}

a,
button,
i {
  cursor: pointer;
}

.section--para {
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625em;
  padding: 8px 16px;
}

/* 

NAVIGATION

*/

.nav__container {
  width: 100%;
  max-width: 1280px;
  max-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo__img {
  width: 40px;
  max-height: 40px;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #243e63;
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-left: 12px;
  padding-bottom: 2px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  color: #243e63;
  font-weight: 600;
  font-size: 14px;
  padding-top: 4px;
  line-height: 1.5px;
  letter-spacing: 0.35px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
  margin: 0 24px;
}

.nav__link--primary {
  background-color: #6415ff;
  color: #fff;
  border-radius: 22px;
  padding: 10px 32px;
}

.nav__link:hover {
  border-bottom: 2px solid #6415ff;
  padding-bottom: 6px;
}

.nav__link--primary:hover {
  background-color: #5011cc;
  border-bottom: 2px solid transparent;
  padding: 10px 32px;
}

.btn__menu {
  background-color: transparent;
  color: #243e63;
  border: none;
  font-size: 22px;
  text-align: center;
  display: none;
  transition: all 300ms ease;
}

.btn__menu:hover {
  color: #6415ff;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: 24px 16px;
  padding: 32px;
  width: calc(100vw-40px);
  height: 378px;
  z-index: 40;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.open--menu .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 4px;
  margin: 8px 0;
  border-bottom: 2px solid transparent;
  color: #1a202c
}

.menu__link--primary {
  color: #f7fafc;
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  padding: 12px 32px;
}


.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #200753;
}

/* 

HEADER 

*/
.row__header {
  display: flex;
  justify-content: flex-start;
  margin-top: 128px;
}

.container__header {
  width: 40%;
}

h2 {
  font-size: 48px;
}

.header--para {
  font-size: 18px;
  margin: 32px 0;
  line-height: 1.5;
  color: #243e63;
}

.email {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  position: relative;
  height: 68px;
  width: 100%;
  max-width: 448px;
  margin-left: 16px;
}

.your__email {
  font-size: 16px;
  border-radius: 500px;
  width: 100%;
  border: 2px solid #dce7eb;
  padding: 20px 192px 20px 32px;
  color: #243e63;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  transition: border-color 300ms;
}

.your__email:hover {
  border-color: #a0aec0;
}

.btn__header {
  border: none;
  border-radius: 500px;
  color: #fff;
  background-color: #6415ff;
  margin: 8px;
  height: calc(100% - 1px);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  z-index: 2;
  width: 160px;
  transition: all 300ms ease;
}

.btn__header:hover {
  background-color: #3c0d99;
}

h3 {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}

.customers__img--wrapper {
  margin-top: 16px;
  padding-right: 64px;
  opacity: 0.5;
}

.customers__img {
  width: 90%;
}

.work__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.work__img {
  width: 100%;
  max-width: 768px;
}

/* 

FEATURES 

*/

.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.features--para {
  text-align: center;
  max-width: 576px;
  font-weight: 500;
}

.features__services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
  max-width: 1024px;
}

.feature__box {
  width: calc(100% / 3);
  display: flex;
  padding: 32px 8px;
}

.features__icon--box {
  border-radius: 50%;
  padding: 20px;
  margin-top: -22px;
}

.features__icon--wrapper {
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.features__icon {
  width: 24px;
  height: 24px;
}

.feature__title {
  font-weight: bold;
  font-size: 24px;
  color: #243e63;
  line-height: 1;
  letter-spacing: 0.6px;
}

.feature__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.feature--para {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 2;
}


/* 

QUALTIY WORK 

*/
.row__quality {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container__quality {
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
}

.section--para__quality {
  margin-left: -16px;
}

.quality__img--box {
  width: 50%;   
   
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid #e5e7eb;  
  position: relative;
  z-index: 2;
  margin: 0 56px;
}

.quality__img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;    
    right: 0px;
    bottom: 0px;
    fill: #6415ff;
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    position: absolute;
    display: block;
}

.btn__quality {
  border: none;
  border-radius: 500px;
  font-weight: bold;
  line-height: 1.625;
  color: #fff;
  background-color: #6415ff;
  padding: 12px 32px;
  font-size: 14px;
  transition: all 300ms ease;
  width: 168px;
  margin-top: 32px;
}

.btn__quality:hover {
  background-color: #5011cc;
}

/* 

STEPS 

*/

.container__steps {
  flex-direction: row;
}

.steps__img--box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 64px;
}

.steps__img--wrapper {
  position: relative;
  z-index: 2;
}

.steps__img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    opacity: 0.8;
    z-index: 0;
    color: #6415ff;
    fill: currentColor;
}

.steps__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0;
  padding-left: 64px;
}

.steps__list--sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.step__num{
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
}

.step {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-size: 20px;
  font-weight: 400;
  color: #243e63;
  font-weight: 600;
  line-height: 1;
}

.step--para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
}

/* 

VALUES 

*/
.row__values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container__values {
  width: 50%;
}

.values__container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  margin-top: 24px;
}

.values--para--main {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.values__container--sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin-top: 32px;
  margin-right: 32px;
}

.icon__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #89f089;
}

.icon--wrapper--professional {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #f0a0a0;
}

.values__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.values--para {
  color: #718096;
  margin-top: 16px;
  line-height: 1.625;
}

.btn__values {
  border: none;
  color: #fff;
  background-color: #6415ff;
  border-radius: 500px;
  padding: 12px 32px;
  font-weight: bold;
  margin-top: 48px;
  font-size: 14px;
  transition: all 300ms ease;
  width: 168px;
}

.btn__values:hover {
  background-color: #5011cc;
}

.values__img--wrapper {
  width: 50%;
  margin: 0 56px;
}

.values__img {
  width: 100%;
  z-index: 2;
}

/* 

PRICING 

*/

.container__pricing {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.pricing--para {
  max-width: 576px;
  text-align: center;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.pricing__plan--individual,
.pricing__plan--corporation {
  border: 1px solid #e5e7eb;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 384px;
  height: auto;
  min-height: 600px;
  border-radius: 0.5em;
  padding-top: 8px;
  margin-top: 64px;
  margin-right: 32px;
  box-shadow:
    #00000000 0px 0px 0px 0px,
    #00000000 0px 0px 0px 0px,
    #0000001a 0px 1px 3px 0px,
    #0000000f 0px 1px 2px 0px;
}

.pricing__plan--business {
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 384px;
  height: auto;
  min-height: 600px;
  border-radius: 0.5em;
  padding-top: 8px;
  margin-top: 64px;
  margin-right: 32px;
  background: linear-gradient(135deg, #4c51bf 0%, #667eea 100%);
  box-shadow:
    #00000000 0px 0px 0px 0px,
    #00000000 0px 0px 0px 0px,
    #0000001a 0px 1px 3px 0px,
    #0000000f 0px 1px 2px 0px;
}

.plan__stripe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__stripe--individual {
  background: linear-gradient(115deg, #38b2ac 0%, #81e6d9 100%);
}

.plan__stripe--corporation {
  background: linear-gradient(115deg, #f56565 0%, #feb2b2 100%);
}

.pricing__price,
.pricing__description,
.pricing__purchase {
  line-height: 1.625;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bold;
}

.pricing__description {
  margin-left: -32px;
  margin-right: -32px;
  flex: 1 1 0%;
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  padding: 32px;
}

.pricing__purchase {
  padding: 42px;
}

.description {
  border-top: 2px solid #667eea;
  border-bottom: 2px solid #667eea;
}

.pricing__business {
  background-color: transparent;
  width: 100%;
}

.price__title {
  font-size: 20px;
}

.price__price {
  font-size: 48px;
  margin: 4px 0;
}

.price__title,
.price__price {
  font-weight: bold;
  line-height: 1.625;
  color: #1a202c;
}

.price__term {
  letter-spacing: 1.6px;
  color: #a0aec0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.625;
}

.pricing__title,
.price--business--title {
  font-weight: 700;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.price--business--title {
  color: #fff;
}

.price--para {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #718096;
}

.btn__personal {
  background: linear-gradient(115deg, #38b2ac 0%, #81e6d9 100%);
  color: #f7fafc;
  padding: 16px 32px;
  border-radius: 500px;
  transition: all 300ms ease;
  border: none;
  width: 100%;
}

.btn__personal:hover {
  transform: translateY(-2px) translateX(1px);
}

.price--business {
  color: #f7fafc;
}

.btn__business {
  background-color: #f7fafc;
  color: #6415ff;
  padding: 16px 32px;
  border-radius: 500px;
  border: none;
  transition: all 300ms ease;
  width: 100%;
}

.btn__business:hover {
  transform: translateY(-2px) translateX(1px);
}

.btn__enterprise {
  background: linear-gradient(115deg, #f56565 0%, #feb2b2 100%);
  color: #f7fafc;
  padding: 16px 32px;
  border-radius: 500px;
  transition: all 300ms ease;
  border: none;
  width: 100%;
}

.btn__enterprise:hover {
  transform: translateY(-2px) translateX(1px);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/* 

TESTIMONIALS 

*/
.testimonials__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.testimonials__img {
  width: 100%;
  padding: 20px 40px;
}


.testimonials__row {
  display: flex;
  flex-direction: row;
}

.testimonials__container {
  width: 50%;
}

.section--para__testimonials {
  margin-left: -16px;
  margin-bottom: 32px;
}

.rating {
  color: #fabf2a;
  margin-top: 4px;
}

.testimonials__header--sub {
  margin-top: 16px;
  font-weight: 700;
  color: #4a5568;
  font-size: 20px;
}

.testimonials--para {
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  color: #4a5568;
  line-height: 1.625;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}

.user__img--wrapper {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.user__img {
  width: 100%;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
  min-width: 150px;
}

.user__name {
  font-size: 20px;
  color: #4a5568;
  font-weight: 700;
  line-height: 1.625;
}

.user__title {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.user__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.btn__arrow {
  color: #6415ff;
  background-color: #edf2f7;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0 12px;
  transition: all 300ms ease;
}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
  border-right: 1px;
  width: 1.5px;
  height: 20px;
  background-color: #edf2f7;
}

.btn__arrow:hover {
  background-color: #e5e7eb;
}


/* 

CLOSING 

*/
.closing__row {
  background-color: #6415ff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  margin-bottom: 64px;
  position: relative;
  overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;

}



.closing__container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 96px;
}

.closing--para {
  font-weight: 700;
  color: #f7fafc;
  font-size: 30px;
  line-height: 1.5;
  padding: 0 24px;
  z-index: 2;
}

.btn__box {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.btn__started {
  background: #f56565;
  color: #f7fafc;
  padding: 20px 40px;
  border: none;
  border-radius: 500px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.025;
  font-weight: 700;
  z-index: 2;
  transition: all 300ms ease;
  box-shadow:
    #00000000 0px 0px 0px 0px,
    #00000000 0px 0px 0px 0px,
    #0000001a 0px 10px 15px -3px,
    #0000000d 0px 4px 6px -2px;
}

.btn__started:hover {
  background-color: #de3e3e;
}

.btn__contact {
  color: #f7fafc;
  background-color: #6415ff;
  border: 1px solid #a0aec0;
  border-radius: 500px;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.025;
  font-weight: 700;
  transition: all 300ms ease;
  margin-left: 16px;
  z-index: 2;
}

.btn__contact:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* 

FOOTER 

*/
footer {
  padding: 96px 32px;
  background-color: #6415ff;
  margin-bottom: -32px;
  overflow: hidden;
  position: relative;
}

.footer__blob--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  transform: translateX(-80px) translateY(-128px);
  z-index: 1;
  opacity: 0.5;
}

.footer__blob--2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 320px;
  transform: translateX(128px) translateY(192px);
  z-index: 1;
  opacity: 0.5;
}

.footer__row {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__links--category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
}

.link__header {
  color: #f7fafc;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__link {
  color: #f7fafc;
  margin-top: 16px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
  z-index: 2;
}

.footer__link:after {
  content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__link:hover:after {
  opacity: 1;
}

.footer__divider {
  width: 100%;
  height: 2px;
  background-color: #742cff;
  margin-top: 64px;
  margin-bottom: 64px;
}

.footer__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7fafc;
  font-size: 20px;
  font-weight: 900;
}

.logo__light {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.footer__copyright {
  color: #f7fafc;
}

.footer__icon {
  display: flex;
}

.footer__icon--wrapper {
  background-color: #f7fafc;
  border-radius: 50%;
  padding: 8px 8px;
  color: #243e63;
  margin-left: 16px;
  transition: all 300ms ease;
}

.footer__icon--wrapper:hover {
  cursor: pointer;
  background-color: #cbd5e0;
}

@media (max-width: 1280px) {
  h2 {
    font-size: 36px;
  }

  h5 {
    font-size: 48px;
  }

  .header--para {
    font-size: 16px;
  }

  .work__img {
    max-width: 512px;
  }

  .steps__grid {
    height: 80px;
    width: 80px;
    bottom: -50px;
  }
}

@media (max-width: 1024px) {
  .row {
    flex-direction: row;
  }

  .row__header {
    flex-direction: column;
    align-items: center;
  }

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .container__header {
    text-align: center;
    width: 100%;
  }

  .header--para {
    margin: 24px 96px;
  }

  .features__services {
    max-width: 768px;
  }

  .feature__box {
    width: calc(100% / 2);
  }

  .container__steps {
    flex-direction: row;
  }

  .values__container {
    flex-direction: column;
  }

  .values__container--sub {
    min-width: 320px;
  }

  .values--para--main {
    font-size: 16px;
  }

  .closing__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }

  .closing__container {
    width: 100%;
    padding: 64px 32px;
  }

  .btn__box {
    width: 100%;
    padding-bottom: 32px;
  }  

  footer {
    padding: 80px 32px;
  }

  .footer__row {
    flex-direction: column;
  }

  
  h2 {
    font-size: 30;
  }

  h5 {
    font-size: 48px;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .pricing__plan--individual,
  .pricing__plan--business,
  .pricing__plan--corporation {
    margin-right: 0px;
  }

  .btn__box {
    width: auto;
    margin-top: 24;
  }

  .btn__started,
  .btn__contact {
    padding: 16px 32px;
  }

  .section--para {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .row,
  .container__steps {
    flex-direction: column;
    align-items: center;
  }

  .header--para {
    margin: 16px 24px;
  }

  .values--para--main {
    font-size: 14px;
  }
  
  .row__quality,
  .row__values {
    flex-direction: column-reverse;
    gap: 48px;
  }

  .steps__list {
    align-items: center;
  }

  .container__values,
  .values__container,
  .values__container--sub,
  .container__quality,
  .steps__list--sub,
  .testimonials__container--sub {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container__quality,
  .quality__img--box,
  .steps__img--box,
  .container__steps,
  .container__values,
  .values__img--wrapper,
  .testimonials__img--wrapper,
  .testimonials__container {
    width: 100%;
    padding: 0 64px;
  }

  .steps__description {
    width: 100%;
    margin-top: 32px;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  .container__steps {
    align-items: center;
  }

  .section--para {
    font-size: 14px;
  }

  .footer__links {
    justify-content: flex-start;
  }

  .footer__links--category{
    width: calc(100% / 3);
  }

  .footer__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  } 
}


@media (max-width: 640px) {
  h5 {
    font-size: 36px;
  }

  .pricing__title {
    font-size: 36px;
  }

  .email {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .your__email {
    position: static;
  }

  h3 {
    margin-top: 48px;
  }

  .btn__header {
    width: 100%;
    padding: 16px 0;
    margin-top: 24px;
    margin-bottom: 0px;
    line-height: 1.5;
    z-index: 2;
  }

  .features__services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .feature__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .feature__info{
    align-items: center;
  }
 
  .btn__box {
    flex-direction: column;
  }

  .btn__started,
  .btn__contact {
    font-size: 14px;
    padding: 12px 24px;
  }

  .btn__contact {
    margin-top: 16px;
    margin-left: 0;
  }

  .price__price {
    font-size: 36px;
  }

  .closer {
    font-size: 24px;
  }

  .pricing__purchase {
    padding: 32px 24px;
  }

  .user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .user__toggle {
    margin-top: 32px;
    justify-content: center;
  }

  .start__container {
    padding: 80px 0;
  }

  .footer__links {
    justify-content: center;
  }

  .footer__links--category {
    align-items: center;
    width: auto;
  }

  .container__quality,
  .quality__img--box,
  .steps__img--box,
  .container__steps,
  .container__values,
  .values__img--wrapper,
  .testimonials__img--wrapper,
  .testimonials__container {
    padding: 0;
  }
}
