@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  padding: 0 32px;
  margin-top: 64px;
}

nav {
  display: flex;
  padding-top: 32px;
}

h4 {
  color:#6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
}

h5 {
  font-size: 48px;
  color: #243e63;
  line-height: 1.25;
  letter-spacing: 1.2px;
  margin: 16px 0;
  font-weight: 900;
}

.text--color {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

ul {
  display: flex;
  list-style: none;
}

a {
  display: inline;
  text-decoration: none;
}

a,
button,
i {
  cursor: pointer;
}

.section--para {
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625em;
  padding: 8px 16px;
}

/* 

NAVIGATION

*/

.nav__container {
  width: 100%;
  max-width: 1200px;
  max-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo__img {
  width: 40px;
  max-height: 40px;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  Color:#243e63;
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-left: 12px;
  padding-bottom: 2px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  color: #243e63;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding-top: 4px;
  line-height: 1.5px;
  letter-spacing: 0.35px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
  margin: 0 24px;
}

.nav__link--primary {
  background-color: #6415ff;
  color: white;
  border-radius: 22px;
  padding: 8px 18px;
}

.nav__link:hover {
  border-bottom: 2px solid #6415ff;
  padding-bottom: 6px;
}

.nav__link--primary:hover {
  background-color: #5011cc;
  border-bottom: 2px solid transparent;
  padding: 8px 18px;
}

.btn__menu {
  background-color: transparent;
  color:#243e63;
  border: none;
  font-size: 22px;
  text-align: center;
  display: none;
  transition: all 300ms ease;
}

.btn__menu:hover {
  color:#6415ff;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: 24px 16px;
  padding: 32px;
  width: calc(100vw-40px);
  height: 378px;
  z-index: 4;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #200753;
}


/* 

HEADER 

*/
.row__header{
  display: flex;
  justify-content: flex-start;
}

.container__header {
  width: 40%;
}

h2 {
  font-size: 48px;
}

.header--para {
  font-size: 18px;
  margin: 32px 0;
}

.email {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  position: relative;
  height: 68px;
  width: 100%;
  max-width: 448px;
}

.your__email {
  font-size: 16px;
  border-radius: 500px;
  width: 100%;
  border: 2px solid #dce7eb;
  padding: 20px 192px 20px 32px;
  color: #243e63;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  transition: border-color 300ms;
}

.your__email:hover {
  border-color: #a0aec0;
}

.btn__header{
  border: none;
  border-radius: 500px;
  color: #fff;
  background-color: #6415ff;
  margin: 8px;
  height: calc(100% - 1px);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  z-index: 2;
  width: 160px;
  transition: all 300ms ease;
}

.btn__header:hover {
  background-color: #3c0d99;  
}

h3 {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}

.customers__img--wrapper {
  margin-top: 16px;
  padding-right: 64px;
  opacity: 0.5;
}

.customers__img {
  width: 100%;
}

.work__img--wrapper {
  width: 60%;
  padding-top: 100px;
}

.work__img {
  width: 100%;
  max-width: 768px;
}




/* 

FEATURES 

*/





/* 

QUALTIY WORK 

*/
.row__quality {
  display: flex;
  flex-direction: row;
}

.container__quality {
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
}

.section--para__quality {
  margin-left: -16px;
}

.quality__img--wrapper {
  width: 50%;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  padding-top: 48px;
  margin-top: 64px;
}

.quality__img {
  width: 100%;
}

.btn__quality {
  border: none;
  border-radius: 500px;
  font-weight: bold;
  line-height: 1.625;
  color: #fff;
  background-color: #6415ff;
  padding: 12px 32px;
  font-size: 14px;
  transition: all 300ms ease;
  width: 168px;
  margin-top: 32px;
}


/* 

STEPS 

*/

.container__steps {
  flex-direction: row;
  
}


/* 

VALUES 

*/
.row__values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values__container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  margin-top: 24px;
}

.values__container--sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.icon__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #89f089;
}

.icon--wrapper--professional {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #f0a0a0;
}

.values__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.btn__values {
  border: none;
  color: #fff;
  background-color: #6415ff;
  border-radius: 500px;
  padding: 12px 32px;
  font-weight: bold;
  margin-top: 48px;
  font-size: 14px;
  transition: all 300ms ease;
  width: 168px;
}

.btn__values:hover {
  background-color: #5011cc;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 684px;
  height: 489px;
}


/* 

PRICING 

*/

.container__pricing {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pricing--para {
  max-width: 576px;
  text-align: center;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.pricing__plan--individual,
.pricing__plan--corporation {
  border: 1px solid #e5e7eb;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 384px;
  height: 600px;
  border-radius: 0.5em;
  padding-top: 8px;
  margin-top: 64px;
  margin-right: 32px;
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px, #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
}

.pricing__plan--business {
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 384px;
  height: 600px;
  border-radius: 0.5em;
  padding-top: 8px;
  margin-top: 64px;
  margin-right: 32px;
  background: linear-gradient(135deg, #4c51bf 0%, #667eea 100%);
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px, #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
}

.plan__stripe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__stripe--individual {
  background: linear-gradient(115deg, #38b2ac 0%, #81e6d9 100%);
}

.plan__stripe--corporation {
  background: linear-gradient(115deg, #f56565 0%, #feb2b2 100%);
}

.pricing__price,
.pricing__description,
.pricing__purchase {
  line-height: 1.625;
  background-color: white;
  display: flex; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bold;
} 

.pricing__description {
  margin-left: -32px;
  margin-right: -32px;
  flex: 1 1 0%;
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  padding: 32px;
}

.pricing__purchase {
  padding: 42px;
}

.description {
  border-top: 2px solid #667eea;
  border-bottom: 2px solid #667eea;
}

.pricing__business {
  background-color: transparent;
  width: 100%;
}

.price__title {
  font-size: 20px;
}

.price__price {
  font-size: 48px;
  margin: 4px 0;
}

.price__title,
.price__price {
  font-weight: bold;
  line-height: 1.625;
  color: #1a202c;
}

.price__term {
  letter-spacing: 1.6px;
  color: #a0aec0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.625;
}

.pricing__title,
.price--business--title {
  font-weight: 700;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.price--business--title {
  color: #fff;
}

.price--para {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #718096;
}

.btn__personal {
  background: linear-gradient(115deg, #38b2ac 0%, #81e6d9 100%);
  color: #f7fafc;
  position: absolute;
  padding: 16px 32px;
  border-radius: 500px;
  transition: all 300ms ease;
  border: none;
  transition: all 300ms ease;
}

.btn__personal:hover {
  transform: translateY(-2px) translateX(1px);
}

.price--business {
  color:#f7fafc;
}

.btn__business {
  background-color: #f7fafc;
  color:#6415ff;
  position: absolute;
  padding: 16px 32px;
  border-radius: 500px;
  border: none;
  transition: all 300ms ease;
}

.btn__business:hover {
  transform: translateY(-2px) translateX(1px);
}

.btn__enterprise {
  background: linear-gradient(115deg, #f56565 0%, #feb2b2 100%);
  color: #f7fafc;
  position: absolute;
  padding: 16px 32px;
  border-radius: 500px;
  transition: all 300ms ease;
  border: none;
  transition: all 300ms ease;
}

.btn__enterprise:hover {
  transform: translateY(-2px) translateX(1px);
}


/* 

TESTIMONIALS 

*/
.testimonials__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.testimonials__row {
  display: flex;
  flex-direction: row;
}

.testimonials__container {
  width: 50%;
}

.section--para__testimonials {
  margin-left: -16px;
  margin-bottom: 32px;
}

.rating {
  color: #fabf2a;
  margin-top: 4px;
}

.testimonials__header--sub {
  margin-top: 16px;
  font-weight: 700;
  color: #4a5568;
  font-size: 20px;
}

.testimonials--para{
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  color: #4a5568;
}

.user {
  display: flex;
  margin-top: 16px;
}

.user__img--wrapper {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.user__img {
  width: 100%;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
}

.user__name {
  font-size: 20px;
  color: #4a5568;
  font-weight: 700;
  line-height: 1.625;
}

.user__title {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.user__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}

.btn__arrow {
  color: #6415ff;
  background-color: #edf2f7;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0 12px;
  transition: all 300ms ease;
}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
  border-right: 1px;
  width: 1.5px;
  height: 20px;
  background-color: #edf2f7;
}

.btn__arrow:hover {
  background-color: #e5e7eb;
}

.testimonials__img {
  width: 100%;
  padding: 20px 40px;
}


/* 

CLOSING 

*/
.closing__row {
  background-color: #6415ff;
  margin-bottom: 68px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.closing__container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;  
}

.closing--para {
  font-weight: 700px;
  color:#f7fafc;
  font-size: 30px;
  margin-left: 148px;
}

.btn__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.btn__started {
  background: #f56565;
  color: #a0aec0;
  padding: 20px 40px;
  border: none;
  border-radius: 500px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.025;
  font-weight: 700;
  transition: all 300ms ease;
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px, #0000001a 0px 10px 15px -3px, #0000000d 0px 4px 6px -2px;
}

.btn__started:hover {
  background-color: #de3e3e;
}

.btn__contact {
  color: #f7fafc;
  background-color: #6415ff;
  border: 1px solid #a0aec0;
  border-radius: 500px;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.025; 
  font-weight: 700;
  transition: all 300ms ease;
  margin-left: 16px;
}

.btn__contact:hover {
  background-color: #f7fafc;
  color: #6415ff;
}


/* 

FOOTER 

*/

.footer__links,
.footer__tagline {
  background-color: #6415ff;
}

.footer__links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -48px;
}


 .link__header {
  color: #a0aec0;
 }





@media (max-width: 1280px) {
  h2 {
    font-size: 36px;
  }

  h5 {
    font-size: 48px;
  }

  .header--para {
    font-size: 16px;
  }

  .work__img {
    max-width: 512px;
  }

 
}

@media (max-width: 1024px) {
  .row {
    flex-direction: row;
  }

  .container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  h2 {
    font-size: 30
  }

  h5 {
    font-size: 48px;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .pricing__plan--individual,
  .pricing__plan--business,
  .pricing__plan--corporation {
    margin-right: 0px;
  }
  
  .closer {
    width: 100%;
    max-width: 512px;
    text-align: center;
  }

  .btn__box {
    width: auto;
    margin-top: 24;
  }

  .btn__started,
  .btn__contact {
    padding: 16px 32px;
  }

  .section--para {
    font-size: 16px;
  }

}

@media (max-width: 768) {
  .section--para {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  h5 {
    font-size: 36px;
  }

  .pricing__title {
    font-size: 36px;
  }

  .email {
    display: flex;
    flex-direction: column;
  }
  
  .btn__header {
    width: 100%;
    padding: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
    z-index: 2;  
  }

  .btn__box {
    flex-direction: column;
  }

  .btn__started,
  .btn__contact {
    font-size: 14px;
    padding: 12px 24px;
  }

  .btn__contact {
    margin-top: 16px;
  }

  .price__price {
    font-size: 36px;
  }

  .closing__container {
    padding: 80px 0;
  }

  .closer {
    font-size: 24px;
  }

  .pricing__purchase {
    padding: 32px 16px;
  }

  .user__toggle {
    margin-top: 32px;
  }

}